.course-container {
  width: 100%;
}

.mat-list-item {
  height: initial;
  padding: 5px;
}

h3 {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

.course__info {
  width: 88%;
}

.course__time {
  width: 220px;
}

.course__actions {
  display: flex;
  flex-direction: column;
  
  > button:first-child {
    margin-bottom: 5px;
  }
}

.top-rated {
  color: gold;
}

