<app-breadcrumbs [addLinks]="[{name: courseName}]"></app-breadcrumbs>
<form class="example-form" [formGroup]="courseForm" (ngSubmit)="update()">
  <mat-form-field>
    <input matInput placeholder="Name" name="name" formControlName="name" required>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" name="description" formControlName="description" required></textarea>
  </mat-form-field>

  <app-creation-date formControlName="creationDate"></app-creation-date>

  <mat-form-field>
    <input matInput placeholder="Duration" formControlName="duration" name="duration" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Authors" formControlName="authors" multiple required>
      <mat-option *ngFor="let author of availableAuthorList$ | async" [value]="author.id">{{author.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-stroked-button [disabled]="courseForm.invalid">Save</button>
  <button mat-stroked-button routerLink="/">Cancel</button>
</form>