@import "~bootstrap/dist/css/bootstrap.min.css";

body { 
  margin: 0;
  font-family: monospace;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 100;
}

.flex-sb {
  display: flex !important;
  justify-content: space-between !important;
}

.content-centered { 
  display: flex;
  justify-content: center;
}

.minor-text {
  color: #ddd;
}

.cursor-pointer {
  cursor: pointer !important;
}
